PAGE_EFFECT_1_GIF GIF "Effect1.gif"
PAGE_EFFECT_2_GIF GIF "Effect2.gif"
PAGE_EFFECT_3_GIF GIF "Effect3.gif"
PAGE_EFFECT_4_GIF GIF "Effect4.gif"
PAGE_EFFECT_5_GIF GIF "Effect5.gif"
PAGE_EFFECT_6_GIF GIF "Effect6.gif"
PAGE_EFFECT_7_GIF GIF "Effect7.gif"
PAGE_EFFECT_8_GIF GIF "Effect8.gif"