E_DIGIT_0 Bitmap "0.bmp"
E_DIGIT_1 Bitmap "1.bmp"
E_DIGIT_2 Bitmap "2.bmp"
E_DIGIT_3 Bitmap "3.bmp"
E_DIGIT_4 Bitmap "4.bmp"
E_DIGIT_5 Bitmap "5.bmp"
E_DIGIT_6 Bitmap "6.bmp"
E_DIGIT_7 Bitmap "7.bmp"
E_DIGIT_8 Bitmap "8.bmp"
E_DIGIT_9 Bitmap "9.bmp"
E_SLASH   Bitmap "SLASH.bmp"
E_DASH    Bitmap "-.bmp"
E_COLON   Bitmap "COLON.bmp"
E_SPACE   Bitmap "SPACE.bmp"
E_CENTIGRADE  Bitmap "C.bmp"
E_FAHRENHEIT  Bitmap "F.bmp"