EFFECT_1_GIF GIF "Effect1.gif"
EFFECT_2_GIF GIF "Effect2.gif"
EFFECT_3_GIF GIF "Effect3.gif"
EFFECT_4_GIF GIF "Effect4.gif"
EFFECT_5_GIF GIF "Effect5.gif"
EFFECT_6_GIF GIF "Effect6.gif"
EFFECT_7_GIF GIF "Effect7.gif"
EFFECT_8_GIF GIF "Effect8.gif"
EFFECT_9_GIF GIF "Effect9.gif"
EFFECT_10_GIF GIF "Effect10.gif"
EFFECT_11_GIF GIF "Effect11.gif"
EFFECT_12_GIF GIF "Effect12.gif"
EFFECT_13_GIF GIF "Effect13.gif"
EFFECT_14_GIF GIF "Effect14.gif"
EFFECT_15_GIF GIF "Effect15.gif"
EFFECT_16_GIF GIF "Effect16.gif"