F_DIGIT_0 Bitmap "0.bmp"
F_DIGIT_1 Bitmap "1.bmp"
F_DIGIT_2 Bitmap "2.bmp"
F_DIGIT_3 Bitmap "3.bmp"
F_DIGIT_4 Bitmap "4.bmp"
F_DIGIT_5 Bitmap "5.bmp"
F_DIGIT_6 Bitmap "6.bmp"
F_DIGIT_7 Bitmap "7.bmp"
F_DIGIT_8 Bitmap "8.bmp"
F_DIGIT_9 Bitmap "9.bmp"
F_SLASH   Bitmap "SLASH.bmp"
F_DASH    Bitmap "-.bmp"
F_COLON   Bitmap "COLON.bmp"
F_SPACE   Bitmap "SPACE.bmp"
F_CENTIGRADE  Bitmap "C.bmp"
F_FAHRENHEIT  Bitmap "F.bmp"